<!-- prettier-ignore -->

{% extends 'main/base.html' %} 
{% load static %} 
{% load i18n %}

{% block title %}Password Reset{% endblock title %} 
{% block content %}
<h1 class="text-center mt-5">Password Reset</h1>
<!-- prettier-ignore -->
<p class='text-center mt-5'>{% translate 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}</p>
<!-- prettier-ignore -->
<p class='text-center mt-5'>{% translate 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}</p>
{% endblock content %}
