venv/
__pycache__/
.pylintrc
*.pyc
*.pyo
*.pyd

db.sqlite3
*.log
media/
heavyaura/staticfiles/
.env
heavyaura/.env

.vscode/
.idea/
*.iml

docker-compose.override.yml
docker-compose.dev.yml
.dockerignore

celerybeat-schedule
*.pid

.DS_Store
Thumbs.db